<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque neque ratione iure dolorem. Expedita quia
            explicabo ipsa alias doloribus tenetur earum obcaecati iure quisquam omnis autem aut quis consequuntur sunt
            veniam dignissimos exercitationem accusantium quas, similique, mollitia quam quae vitae?</p>
    </div>
    {{>footer}}
</body>

</html>